@page "/"

<PageTitle>Calcular IMC</PageTitle>

<h1>Calcular IMC</h1>

Welcome to your new app.
<button @onclick="calculoIMC">Calcular IMC</button>
@code {
    private double peso;

    private double altura;
    private double imc;

    private void calculoIMC()
    {
        imc = peso/Math.Pow(altura, 2);
    }
}
@code {
    // Lista de Imc
    // local storage -> blazor storage
    //componentes
    // jsInterop
    //Data Bindings
    // validação de formularios
    // childContent

    
}